* {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    outline: none;
}

.flex {
    display: flex;
}

.show {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.app {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "header header" "form results";
    grid-template-columns: 70% 30%;
    grid-template-rows: 60px auto;
}

.header {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.header>.title {
    color: white;
    text-align: center;
    font-size: 30px;
}

.insert {
    grid-area: form;
    background-color: #1e1e1e;
    justify-content: center;
}

.get {
    background-color: #1e1e1e;
    grid-area: results;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 40%;
    height: 60%;
    background-color: #fff;
}

.form>.text {
    text-align: center;
}

.float {
    color: transparent;
    position: absolute;
    left: 39.7%;
}

.float:hover{
    cursor: pointer;
    color: #339DFF;
    transition: 0.1s all;
}

.form-title>.title-form {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.input {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #121212;
    margin: 5px;
    padding-left: 5px;
    width: 40%;
    height: 35px;
}

.ig-upe {
    margin-top: 20px;
    justify-content: unset;
    flex-flow: column;
    height: 40%;
}

.buttonGroup {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonGroup>.button {
    width: 20%;
    height: 40px;
    color: white;
    background-color: #339DFF;
    border: 2px solid transparent;
    cursor: pointer;
}

.buttonGroup>.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #339DFF;
    transition: 0.1s all;
}

.get {
    justify-content: center;
}

.errorGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60%;
    background-color: #ff3333;
}

.left{
    width: 10%;
}

.closeable {
    color: #fa8181;
    margin-left: 5px;
    margin-right: 5px;
}

.closeable:hover {
    color: white;
    cursor: pointer;
    transition: 0.1s all;
}

.text-error {
    width: 90%;
    color: white;
    font-family: arial;
    font-size: 16px;
    text-align: center;
}

.exclamation{
    color: white;
}