---
import type { SkillType } from "@/types";
import { twMerge } from "tailwind-merge";

interface Props {
  name: string;
  icon?: string;
  description: string;
  type: SkillType;
}

const { name, icon, description, type } = Astro.props;

const skillStyles = {
  language: "bg-rose-200 dark:bg-rose-800/50",
  frontend: "bg-teal-200 dark:bg-teal-800/50",
  backend: "bg-indigo-200 dark:bg-indigo-800/50",
  database: "bg-red-200 dark:bg-red-800/50",
  tool_and_platform: "bg-blue-200 dark:bg-blue-800/50",
  mobile: "bg-pink-200 dark:bg-pink-800/50",
};
---

<p
  data-description={description}
  class={twMerge(
    skillStyles[type],
    "skill",
    "w-fit flex gap-1 items-center px-2 py-1 rounded-full"
  )}
>
  <span class="sr-only">{description}</span>
  {icon && <span class={icon} />}
  {name}
</p>

<style>
  .skill {
    cursor: help;
  }

  .skill[data-description] {
    position: relative;
  }

  .skill[data-description]:hover::after,
  .skill[data-description]:focus::after {
    content: attr(data-description);
    position: absolute;
    background-color: inherit;
    left: 0;
    top: 40px;
    border-radius: 6px;
    min-width: 200px;
    padding: 0.5rem;
    font-size: 14px;
    z-index: 1;
    opacity: 100;
  }
</style>
