@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #f3f4f6;
  --color-bg-alt: #eef4fb;
  --color-surface: #ffffff;
  --color-surface-strong: #edf3f8;
  --color-surface-soft: #f7fafc;
  --color-text: #0f172a;
  --color-text-soft: #334155;
  --color-text-muted: #64748b;
  --color-text-inverse: #f8fafc;
  --color-border: #dfe7f1;
  --color-border-strong: #c7d2e0;
  --color-accent: #ff7a1a;
  --color-accent-hover: #ff9a4d;
  --color-accent-soft: #7a3b00;
  --color-accent-strong: #d85d00;
  --color-success: #0f766e;
  --color-warning: #b45309;
  --color-danger: #b91c1c;
  --color-surface-last: #2e4056;

  --header-height: 72px;
}

:root {
  font-family: "Geist Mono Variable", monospace;
  --sb-size: 0.75rem;
}

.dark {
  --color-bg: #0b0f14;
  --color-bg-alt: #101924;
  --color-surface: #121b22;
  --color-surface-strong: #1a2430;
  --color-surface-soft: #1f2b36;
  --color-surface-last: #2e4056;
  --color-text: #eaf0f5;
  --color-text-soft: #c7d2dc;
  --color-text-muted: #9aa8b5;
  --color-text-inverse: #091118;
  --color-border: #24313d;
  --color-border-strong: #303030;
  --color-accent: #ff7a1a;
  --color-accent-hover: #ff9a4d;
  --color-accent-soft: #ffd3ae;
  --color-accent-strong: #e05e00;
  --color-success: #2dd4bf;
  --color-warning: #fbbf24;
  --color-danger: #f87171;
}

html {
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
  background: var(--color-surface);
  color: var(--color-text);
}

::selection {
  background-color: var(--color-accent-strong);
  color: white;
}

body {
  min-height: 100dvh;
}

.typewriter {
  --characters: 1;
  --duration: 2s;

  @apply [--cursor-color:var(--color-accent)];

  display: inline-block;

  white-space: nowrap;
  overflow: hidden;
  width: 0;

  border-right: 10px solid var(--cursor-color);

  animation:
    typing var(--duration) steps(var(--characters)) forwards,
    blink 0.7s step-end infinite;
  padding-right: 0.1rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: var(--cursor-color);
  }

  50% {
    border-color: transparent;
  }
}
