---
import { getTranslations } from "@/i18n";
import EducationCard from "../static/EducationCard.astro";

const { currentLocale } = Astro;

if (!currentLocale) throw new Error("Not available locale to use");

const translation = getTranslations(currentLocale);
const { education } = translation;
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-2">
  {education && education.map((props) => <EducationCard {...props} />)}
</section>
