---
import { getTranslations } from "@/i18n";
import type { SkillType } from "@/types";
import SkillCard from "../SkillCard.astro";

const { currentLocale } = Astro;

if (!currentLocale) {
  Astro.redirect("/500");
  throw new Error("Current locale is null");
}

const translation = getTranslations(currentLocale);
const { skills } = translation;
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {
    skills.map(({ title, type, content }) => (
      <SkillCard title={title} type={type as SkillType} content={content} />
    ))
  }
</section>
