---
import { skillStatusStylesCriteria } from "@/data";
import type { SkillType, SkillSection as Props } from "@/types";
import { twMerge } from "tailwind-merge";
import Badge from "./Badge.astro";

const { title, type, content } = Astro.props;
---

<article
  class="bg-surface-light flex flex-col gap-4 dark:bg-surface-dark p-4 rounded"
>
  <section class="flex items-center">
    <h4 class="font-bold text-xl text-nowrap">{title}</h4>

    <Badge
      text="⬤"
      className="text-transparent py-0 px-0 w-4 h-4 rounded-full"
      type={type as SkillType}
      styleCriteria={skillStatusStylesCriteria}
    />
  </section>

  <section class="flex flex-col gap-2">
    {
      content &&
        content.map(({ name, description, icon }) => (
          <div class="flex gap-2 p-2 rounded bg-surfaceElevated-light dark:bg-surfaceElevated-dark">
            <span class={twMerge(icon, "text-4xl")} />

            <p class="flex flex-col gap-1 text-[#737373] dark:text-[#bfbfbf] text-pretty">
              <span class="text-xl font-bold text-black dark:text-white">
                {name}
              </span>
              <span class="text-sm">{description}</span>
            </p>
          </div>
        ))
    }
  </section>
</article>
