<span class="error">
                       <div class="left">
                            <i class="fa fa-times closeable"></i>
                       </div>
                        <p class="text-error">
                            <i class="fas fa-exclamation-triangle exclamation"></i>
                            Texto de ejemplo:
                        </p>
                    </span>

<div class="errorGroup">

                </div>

                 <tr class="tr">
                            <th class="th">
                                ID
                            </th>
                            <th class="th">
                                Nombre completo
                            </th>
                            <th class="th">
                                Correo Electronico
                            </th>
                            <th class="th">
                                Nombre de usuario
                            </th>
                        </tr>