---
import Experience from "@/components/Experience.astro";
import { getTranslation } from "@/i18n";
import type { Locale } from "@/types";

const { currentLocale } = Astro;
const { t } = getTranslation(currentLocale as Locale);

const experiences = t("sections_data.experiences");
---

<main class="flex flex-col md:flex-row gap-2">
  {
    experiences.map((props) => {
      return <Experience {...props} />;
    })
  }
</main>
