---
import Skill from "@/components/Skill.astro";
import { getTranslation } from "@/i18n";
import type { Locale, Skill as SkillType } from "@/types";

const { t } = getTranslation(Astro.currentLocale as Locale);

const langs = t("sections_data.skills.categories.langs");
const frameworks = t("sections_data.skills.categories.frameworks");
const tools = t("sections_data.skills.categories.tools");

const langs_content = t(
  "sections_data.skills.categories.langs.content"
) as SkillType[];

const frameworks_content = t(
  "sections_data.skills.categories.frameworks.content"
) as SkillType[];

const tools_content = t(
  "sections_data.skills.categories.tools.content"
) as SkillType[];
---

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-semibold mb-4">
      {langs.title}
    </h2>

    <main class="flex flex-col gap-2">
      {
        langs_content.map((props) => {
          return <Skill {...props} />;
        })
      }
    </main>
  </div>

  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-semibold mb-4">{frameworks.title}</h2>

    <main class="flex flex-col gap-2">
      {
        frameworks_content.map((props) => {
          return <Skill {...props} />;
        })
      }
    </main>
  </div>

  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-semibold mb-4">{tools.title}</h2>

    <main class="flex flex-col gap-2">
      {
        tools_content.map((props) => {
          return <Skill {...props} />;
        })
      }
    </main>
  </div>
</section>
