---
import { getTranslation } from "@/i18n";
import type { Locale } from "@/types";
import { appendBaseUrl } from "@/utils";
import schema from "@/data/schema.json";
import Header from "@/components/Header.astro";
import "@fontsource-variable/inter?display=swap";

const { currentLocale } = Astro;

if (!currentLocale) {
  throw new Error("Locale not provided or default didn't load properly");
}

const { t } = getTranslation(currentLocale as Locale);
---

<html class="scroll-smooth" title={t("site.title")} lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{t("site.title")}</title>
    <link href="https://jorgemacias.dev/" rel="canonical" />
    <meta name="description" content={t("site.description")} />
    <meta name="keywords" content={t("site.keywords").join(", ")} />
    <meta name="author" content={t("site.author")} />

    <meta name="robots" content="index, follow" />
    <meta
      name="google-site-verification"
      content="19ev_yaCk6dZ5MoTvVU8Uf9AZ6S69Tt1U2PrMc-N170"
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={t("site.title")} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:locale" content="es_MX" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:image" content={appendBaseUrl("/og-image.jpg")} />
    <meta property="og:logo" content={appendBaseUrl("/favicon.ico")} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:image:alt"
      content={`Portafolio de ${t("site.author")}`}
    />
    <meta property="og:description" content={t("site.description")} />
    <meta property="og:site_name" content={t("site.title")} />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
      media="print"
      onload="this.media='all'"
    />

    <noscript>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
      />
    </noscript>

    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(schema)}
    />
  </head>
  <body
    class="scroll-smooth transition-colors duration-300 bg-white dark:bg-dark-900 text-black dark:text-white"
  >
    <Header lang={currentLocale as Locale} />
    <slot />
  </body>
</html>

<script>
  (function () {
    document.documentElement.classList.toggle(
      "dark",
      localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
    );
  })();
</script>

<style is:global>
  body {
    font-family: "Inter Variable", sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
  }

  body {
    --sb-track-color: #000000;
    --sb-thumb-color: #ff5c00;
    --sb-size: 6px;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
</style>
